<html>
<head>
<title>form</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<form>

Name:<br>
<input type="text" placeholder="First Name"><br>

College:<br>
<input type="text" placeholder="College"><br>

Contact No:<br>
<input type="text" placeholder="Contact No"><br>

course:<br>
<input type="text" placeholder="course"><br>
Fb link:<br>
<input type="text" placeholder="eg:http:\\facebook.com"><br>


Select your photo<br>
<button name="register" class="btn btn-primary btn-md">upload</button><br>
<br>
<button name="register" class="btn btn-primary btn-md">register</button>
</form>
</body>
</html>